*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

header{
    margin: 30px;
}


main{
    margin: 30px;
}

tr:nth-child(even) {
    background-color: #d3d3d3;
}

th, td {
    width: 40vh;
    padding: 5px;
}

input {
    width: 30vh;
}

button{
    padding: 0 5px;
}
