@{
    ViewData["Title"] = "Email potwierdzony";
}

<h2>@ViewData["Title"]</h2>

<p>Dziękujemy! Twój adres email został pomyślnie potwierdzony. Możesz się teraz zalogować.</p>

<a asp-controller="Account" asp-action="Login" class="btn btn-success">Zaloguj się</a>
